ckpt/
ckpt_no_model/
ckpt_no_model2/
ckpt_scene2/
ckpt_test/
ckpt2/
mmt/__pycache__/
mmt/data/__pycache__/
mmt/datasets/waterloo.py/
mmt/datasets/__pycache__/
mmt/datasets/waterloo/
mmt/models/__pycache__/
mmt/models2/__pycache__/
model_ckpt/
scripts/nomodel/
scripts/output/
scripts/obs_12/
scripts/obs_4/
scripts/output_noscene_v2/
scripts/output_noscene/
scripts/output_noscene_2/
scripts/output_noscene_2_2/
scripts/output_noscene_3/
scripts/output_noscene_v1/
scripts/output_noscene_v4/
scripts/test/
scripts/output_scene_state2_231127/
scripts/output2/
scripts/with_scene/
scripts/print_args.py 
visualization/
traj_fig/
scripts2/output/
scripts2/log/
scripts/log/
scripts2/prev_files/
mmt/datasets/eth
scripts2_eth/output
scripts2_eth/log
scripts_eth/output
scripts_eth/log
scripts_sdd/log/
scripts2_sdd/log/
scripts_sdd/output/
scripts2_sdd/output/
mmt/models_eth/__pycache__
mmt/models2_eth/__pycache__
mmt/datasets/sdd_dC
mmt/datasets/sdd_dC2/
scripts2_wtl/output/
scripts2_wtl/log/
scripts_wtl/output/
scripts_wtl/log/
vis/lstm/fig/
vis/tf/fig/
scripts_eth_test/log
scripts_eth_test/output
vis/lstm/